extends ../layout

block content
  a(href="/") INICIO
  h2 Sign In
  form
    input(type='text' placeholder='usuario')
    input(type='password' placeholder='contraseña')
    input(type='submit' value='enviar')
  h2 Sign Up
  form(action='/auth/signup', method='POST')
    input(type='text' placeholder='usuario' name='username')
    input(type='email' placeholder='email' name='email')
    input(type='checkbox' value=1 name='isArtist')
    input(type='password' placeholder='contraseña' name='password')   
    input(type='submit' value='enviar')
  br
  a(href="/perfil") Perfil