extends ../../layout

block content
  a(href="/") INICIO
  a(href="/artista/all") Artistas
  a(href="/obra/all") Obras
  a(href="/auth") Login/Registro
  br
  br
  each thing in data
    h1= thing.name
    h3= thing.bio
    h3= thing.email
    a(href="/artista/#{thing.username}") Ver Perfil