<!DOCTYPE html>
<html>
    <head>  
        <title>Arti Chart</title>
        <!-- ======== META TAGS ======== -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="description" content="My page desc.">
        <meta name="keywords" content="my, tags">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- ======== / META TAGS ======== -->
        <!-- ======== STYLESHEETS ======== -->
        <link rel="stylesheet" href="./assets/css/reset.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/style.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/et-line-font.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/owl.carousel.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/owl.transitions.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/lightbox.min.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/smoothproducts.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/animate.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="./assets/rs-plugin/css/settings.css" media="screen" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <noscript>
      <link rel="stylesheet" href="./assets/css/nojs.css" type="text/css">
        </noscript>
        <!--[if IE 9]>
                <link rel="stylesheet" type="text/css" href="./assets/css/ie.css">
        <![endif]-->
        <!--[if IE 8]>
                <link rel="stylesheet" type="text/css" href="./assets/rs-plugin/css/settings-ie8.css">
                <link rel="stylesheet" type="text/css" href="./assets/css/ie.css">
        <![endif]-->
        <!-- ======== / STYLESHEETS ======== -->
        <!-- ======== STANDARD SCRIPTS ======== -->
        <script src="./assets/js/jquery.js"></script>
        <!--[if lt IE 9]>
                <script src="./assets/js/html5shiv.js"></script>
                <script src="./assets/js/respond.js"></script>
        <![endif]-->
        <!-- ======== / STANDARD SCRIPTS ======== -->
    </head>
    <body>
        <div id="wrapper-1">
             <!-- ========= HEADER ========= -->
            <header>
                <section class="sticky-wrapper">
                    <div id="main-menu" class="main-menu">
                        <div class="container">
                            <div class="row">
                                <nav class="col-md-12">
                                    <div id="search-container">
                                        <div class="menu-center">
                                            <input name="s" placeholder="BUSCAR..." type="text" autofocus/>
                                            <div class="xbutton main-menu-search">
                                                X
                                            </div>
                                        </div>
                                    </div>
                                    <div id="menu-main">
                                        <div class="navbar-left">
                                            <div class="menu-center">
                                                <ul>
                                                    <li><a class="nopad" href="index.html"><img class="" src="http://hilld.studio-themes.com/assets/img/logo.png" alt=""/></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="navbar-right hidden-lg">
                                            <div class="menu-center">
                                                <ul class="nav-pills nav menu-lowerpad"> 
                                                    <li><a class="general mobile-menu-toggle"><div class="clearfix bars-icon "><hr/><hr/><hr/></div></a></li>
                                                    <li><a class="general main-menu-search"><i class="fa fa-search"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="navbar-right visible-lg">
                                            <div class="menu-center">
                                                <ul class="nav-pills navbar-right nav">
                                                    <li><a class="general" href="artistas.html">ARTISTAS</a></li>
                                                    <li><a class="general" href="obras.html">OBRAS</a></li>
                                                    <li><a class="general" href="auth.html">ACCEDER</a></li>
                                                    <li><a class="general nopad main-menu-search"><i class="fa fa-search"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="mobile-menu">
                            <div class="container">
                                <ul>
                                    <li><a class="" href="artistas.html">ARTISTAS</a></li>
                                    <li><a class="" href="obras.html">OBRAS</a></li>
                                    <li><a class="" href="auth.html">ACCEDER</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </header>
            <!-- ===== HEADER ===== -->

            <!-- ========= TEAM ======== -->
            <section id="search" class="widget widget-search">
                                <input name="s" placeholder="START TYPING..." type="text"/>
                                <a><i class="fa fa-search"></i></a>
                            </section>
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Anna Grande</a></h4>
                                    <p>Support</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Justin Braun</a></h4>
                                    <p>Web Engineer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Patric Smith</a></h4>
                                    <p>Art Director</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Jennifer Willis</a></h4>
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Anna Grande</a></h4>
                                    <p>Support</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Justin Braun</a></h4>
                                    <p>Web Engineer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Patric Smith</a></h4>
                                    <p>Art Director</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Jennifer Willis</a></h4>
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Anna Grande</a></h4>
                                    <p>Support</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Justin Braun</a></h4>
                                    <p>Web Engineer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Patric Smith</a></h4>
                                    <p>Art Director</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Jennifer Willis</a></h4>
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Anna Grande</a></h4>
                                    <p>Support</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Justin Braun</a></h4>
                                    <p>Web Engineer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Patric Smith</a></h4>
                                    <p>Art Director</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Jennifer Willis</a></h4>
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Jennifer Willis</a></h4>
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Jennifer Willis</a></h4>
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Jennifer Willis</a></h4>
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Jennifer Willis</a></h4>
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Jennifer Willis</a></h4>
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Jennifer Willis</a></h4>
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Jennifer Willis</a></h4>
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Jennifer Willis</a></h4>
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ========= END ========= -->
            
      
            
        </div>
        <!-- ======== OTHER SCRIPTS ======== -->
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="./assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="./assets/js/scripts.js"></script>
        <!-- ======== /OTHER SCRIPTS ======== -->
    </body>
</html>