<!DOCTYPE html>
<html>
    <head>  
        <title>Arti Chart</title>
        <!-- ======== META TAGS ======== -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="description" content="My page desc.">
        <meta name="keywords" content="my, tags">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- ======== / META TAGS ======== -->
        <!-- ======== STYLESHEETS ======== -->
        <link rel="stylesheet" href="./assets/css/reset.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/style.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/et-line-font.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/owl.carousel.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/owl.transitions.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/lightbox.min.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/smoothproducts.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/animate.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="./assets/rs-plugin/css/settings.css" media="screen" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <noscript>
      <link rel="stylesheet" href="./assets/css/nojs.css" type="text/css">
        </noscript>
        <!--[if IE 9]>
                <link rel="stylesheet" type="text/css" href="./assets/css/ie.css">
        <![endif]-->
        <!--[if IE 8]>
                <link rel="stylesheet" type="text/css" href="./assets/rs-plugin/css/settings-ie8.css">
                <link rel="stylesheet" type="text/css" href="./assets/css/ie.css">
        <![endif]-->
        <!-- ======== / STYLESHEETS ======== -->
        <!-- ======== STANDARD SCRIPTS ======== -->
        <script src="./assets/js/jquery.js"></script>
        <!--[if lt IE 9]>
                <script src="./assets/js/html5shiv.js"></script>
                <script src="./assets/js/respond.js"></script>
        <![endif]-->
        <!-- ======== / STANDARD SCRIPTS ======== -->
    </head>
    <body>
        <div id="wrapper-1">
             <!-- ========= HEADER ========= -->
            <header>
                <section class="sticky-wrapper">
                    <div id="main-menu" class="main-menu">
                        <div class="container">
                            <div class="row">
                                <nav class="col-md-12">
                                    <div id="search-container">
                                        <div class="menu-center">
                                            <input name="s" placeholder="BUSCAR..." type="text" autofocus/>
                                            <div class="xbutton main-menu-search">
                                                X
                                            </div>
                                        </div>
                                    </div>
                                    <div id="menu-main">
                                        <div class="navbar-left">
                                            <div class="menu-center">
                                                <ul>
                                                    <li><a class="nopad" href="index.html"><img class="" src="http://hilld.studio-themes.com/assets/img/logo.png" alt=""/></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="navbar-right hidden-lg">
                                            <div class="menu-center">
                                                <ul class="nav-pills nav menu-lowerpad"> 
                                                    <li><a class="general mobile-menu-toggle"><div class="clearfix bars-icon "><hr/><hr/><hr/></div></a></li>
                                                    <li><a class="general main-menu-search"><i class="fa fa-search"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="navbar-right visible-lg">
                                            <div class="menu-center">
                                                <ul class="nav-pills navbar-right nav">
                                                    <li><a class="general" href="artistas.html">ARTISTAS</a></li>
                                                    <li><a class="general" href="obras.html">OBRAS</a></li>
                                                    <li><a class="general" href="auth.html">ACCEDER</a></li>
                                                    <li><a class="general nopad main-menu-search"><i class="fa fa-search"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="mobile-menu">
                            <div class="container">
                                <ul>
                                    <li><a class="" href="artistas.html">ARTISTAS</a></li>
                                    <li><a class="" href="obras.html">OBRAS</a></li>
                                    <li><a class="" href="auth.html">ACCEDER</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </header>
            <!-- ===== HEADER ===== -->

            
      
            <!-- ========= TABS ======== -->
            <section class="section section-margin-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="table-3" class="select-table table-h table-2">
                                <nav>
                                    <ul>
                                        <li class="active"><a href="#table-3-1">Ingresar</a></li>
                                        <li><a href="#table-3-2">Registrarse</a></li>
                                    </ul>
                                </nav>
                                <ul>
                                    <li id="table-3-1" class="active">
                                        <div class="access">
                                            <h4>¡Accede a tu cuenta, continúa descubriendo y creando!</h4>
                                            <form action="/auth/signin" method="POST">
                                                <label for="username">Nombre de Usuario o Correo</label>
                                                <input type="text" name="username">
                                                <label for="password">Contraseña</label>
                                                <input type="password" name="password">
                                                <input type="checkbox" name="remember" value="1"> Recordar Contraseña
                                                <input type="submit" value="Ingresar">
                                            </form>
                                        </div>
                                    </li>
                                    <li id="table-3-2">
                                        <div class="access">
                                            <h4>¡Registrate! Descubre y crea contenido</h4>
                                            <form action="/auth/signup" method="POST">
                                                <label for="username">Nombre de Usuario</label>
                                                <input type="text" name="username">
                                                <label for="email">Correo</label>
                                                <input type="email" name="email">
                                                <label for="name">Nombre y Apellidos</label>
                                                <input type="text" name="name">
                                                <label for="password">Contraseña</label>
                                                <input type="password" name="password">
                                                <input type="checkbox" name="remember" value="1"> Soy Artista
                                                <input type="submit" value="Ingresar">
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ======= END TABS ======= -->
            
            
            
        </div>
        <!-- ======== OTHER SCRIPTS ======== -->
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="./assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="./assets/js/scripts.js"></script>
        <!-- ======== /OTHER SCRIPTS ======== -->
    </body>
</html>