<!DOCTYPE html>
<html>
    <head>  
        <title>Arti Chart</title>
        <!-- ======== META TAGS ======== -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="description" content="My page desc.">
        <meta name="keywords" content="my, tags">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- ======== / META TAGS ======== -->
        <!-- ======== STYLESHEETS ======== -->
        <link rel="stylesheet" href="./assets/css/reset.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/style.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/et-line-font.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/owl.carousel.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/owl.transitions.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/lightbox.min.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/smoothproducts.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/animate.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="./assets/rs-plugin/css/settings.css" media="screen" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <noscript>
      <link rel="stylesheet" href="./assets/css/nojs.css" type="text/css">
        </noscript>
        <!--[if IE 9]>
                <link rel="stylesheet" type="text/css" href="./assets/css/ie.css">
        <![endif]-->
        <!--[if IE 8]>
                <link rel="stylesheet" type="text/css" href="./assets/rs-plugin/css/settings-ie8.css">
                <link rel="stylesheet" type="text/css" href="./assets/css/ie.css">
        <![endif]-->
        <!-- ======== / STYLESHEETS ======== -->
        <!-- ======== STANDARD SCRIPTS ======== -->
        <script src="./assets/js/jquery.js"></script>
        <!--[if lt IE 9]>
                <script src="./assets/js/html5shiv.js"></script>
                <script src="./assets/js/respond.js"></script>
        <![endif]-->
        <!-- ======== / STANDARD SCRIPTS ======== -->
    </head>
    <body>
        <div id="wrapper-1">
             <!-- ========= HEADER ========= -->
            <header>
                <section class="sticky-wrapper">
                    <div id="main-menu" class="main-menu">
                        <div class="container">
                            <div class="row">
                                <nav class="col-md-12">
                                    <div id="search-container">
                                        <div class="menu-center">
                                            <input name="s" placeholder="BUSCAR..." type="text" autofocus/>
                                            <div class="xbutton main-menu-search">
                                                X
                                            </div>
                                        </div>
                                    </div>
                                    <div id="menu-main">
                                        <div class="navbar-left">
                                            <div class="menu-center">
                                                <ul>
                                                    <li><a class="nopad" href="index.html"><img class="" src="http://hilld.studio-themes.com/assets/img/logo.png" alt=""/></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="navbar-right hidden-lg">
                                            <div class="menu-center">
                                                <ul class="nav-pills nav menu-lowerpad"> 
                                                    <li><a class="general mobile-menu-toggle"><div class="clearfix bars-icon "><hr/><hr/><hr/></div></a></li>
                                                    <li><a class="general main-menu-search"><i class="fa fa-search"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="navbar-right visible-lg">
                                            <div class="menu-center">
                                                <ul class="nav-pills navbar-right nav">
                                                    <li><a class="general" href="artistas.html">ARTISTAS</a></li>
                                                    <li><a class="general" href="obras.html">OBRAS</a></li>
                                                    <li><a class="general" href="auth.html">ACCEDER</a></li>
                                                    <li><a class="general nopad main-menu-search"><i class="fa fa-search"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="mobile-menu">
                            <div class="container">
                                <ul>
                                    <li><a class="" href="artistas.html">ARTISTAS</a></li>
                                    <li><a class="" href="obras.html">OBRAS</a></li>
                                    <li><a class="" href="auth.html">ACCEDER</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </header>
            <!-- ===== HEADER ===== -->

            <!-- ========= REVSLIDER ========== -->
            <section id="revslider" class="fullwidthbanner-container">
                <div class="fullwidthbanner">
                    <ul>
                        <!--SLIDE-->
                        <li data-transition="slidehorizontal" data-bgpositionend="center bottom">
                            <img src="http://placehold.it/1700x640" alt=""/>
                        </li>
                        <!--SLIDE-->
                        <li data-transition="slidehorizontal" data-bgpositionend="center bottom">
                            <img src="http://placehold.it/1700x640" alt=""/>
                        </li>
                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </section>
            <!-- ========= END ========= -->
            
      
            <!-- ========= TABS ======== -->
            <section class="section section-margin-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="table-3" class="select-table table-h table-2">
                                <nav>
                                    <ul>
                                        <li class="active"><a href="#table-3-1">TENDENCIAS</a></li>
                                        <li><a href="#table-3-2">SUSCRIPCIONES</a></li>
                                    </ul>
                                </nav>
                                <ul>
                                    <li id="table-3-1" class="active">
                                        <section class="section">
                                            <div class="title-slide">
                                                <h2>ARTES VISUALES</h2>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="nopad owl-carousel portfolio-carousel">
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                        <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>01</h4>
                                                                work , time
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>02</h4>
                                                                food , lifestyle
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>03</h4>
                                                                lifestyle , work
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>04</h4>
                                                                services , food
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>05</h4>
                                                                work , lifestyle
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                </div>
                                            </div>
                                            <div class="subtitle-slide">
                                                <h3>DISEÑO GRAFICO</h3>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="nopad owl-carousel portfolio-carousel">
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                        <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>01</h4>
                                                                work , time
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>02</h4>
                                                                food , lifestyle
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>03</h4>
                                                                lifestyle , work
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>04</h4>
                                                                services , food
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>05</h4>
                                                                work , lifestyle
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                </div>
                                            </div>
                                            <div class="subtitle-slide">
                                                <h3>FOTOGRAFÍA</h3>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="nopad owl-carousel portfolio-carousel">
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                        <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>01</h4>
                                                                work , time
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>02</h4>
                                                                food , lifestyle
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>03</h4>
                                                                lifestyle , work
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>04</h4>
                                                                services , food
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>05</h4>
                                                                work , lifestyle
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                </div>
                                            </div>
                                            <div class="subtitle-slide">
                                                <h3>ARTES PLÁSTICA</h3>
                                        </section>
                                        <!-- ====== SEGUNDA SECCION ===== -->
                                        <section class="section">
                                            <div class="title-slide">
                                                <h2>ARTES ESCENICAS</h2>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="nopad owl-carousel portfolio-carousel">
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                        <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>01</h4>
                                                                work , time
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>02</h4>
                                                                food , lifestyle
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>03</h4>
                                                                lifestyle , work
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>04</h4>
                                                                services , food
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>05</h4>
                                                                work , lifestyle
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                </div>
                                            </div>
                                            <div class="subtitle-slide">
                                                <h3>TEATRO/DANZA</h3>
                                        </section>
                                        <!-- ===== TERCERA SECCION ===== -->
                                        <section class="section">
                                            <div class="title-slide">
                                                <h2>ARTES MUSICALES</h2>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="nopad owl-carousel portfolio-carousel">
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                        <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>01</h4>
                                                                work , time
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>02</h4>
                                                                food , lifestyle
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>03</h4>
                                                                lifestyle , work
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>04</h4>
                                                                services , food
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>05</h4>
                                                                work , lifestyle
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                </div>
                                            </div>
                                            <div class="subtitle-slide">
                                                <h3>MUSICA/CANTO</h3>
                                        </section>
                                        <!-- ======= CUARTA SECCION ==== -->
                                        <section class="section">
                                            <div class="title-slide">
                                                <h2>ARTES LITERARIAS</h2>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="nopad owl-carousel portfolio-carousel">
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                        <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>01</h4>
                                                                work , time
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>02</h4>
                                                                food , lifestyle
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>03</h4>
                                                                lifestyle , work
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>04</h4>
                                                                services , food
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                    <a class="clearhover" href="#"><div class="isotope-info">
                                                            <img class="img-responsive" src="http://placehold.it/565x565" alt="">
                                                        <div class="hover-info">
                                                            <div class="infobox-3">
                                                                <hr/>
                                                                <h4>05</h4>
                                                                work , lifestyle
                                                            </div>
                                                        </div>
                                                    </div></a>
                                                </div>
                                            </div>
                                            <div class="subtitle-slide">
                                                <h3>NARRATIVA/POESIA</h3>
                                        </section>
                                    </li>
                                    <li id="table-3-2">
                                        <p>Maecenas id nibh ac magna sodales elementum eu at mauris.
                                            Fusce in mauris mattis, vestibulum nulla nec, placerat sem.
                                            Sed at massa sem. Ut gravida porta dolor sed pulvinar.
                                            Etiam nec rhoncus est, non elementum dui. Vestibulum ante
                                            ipsum primis in faucibus orci luctus et elementum ultrices
                                            posuere cubilia.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ======= END TABS ======= -->
            
            <!-- ========= CLIENTS ========= -->
            <section class="section section-bar-6">
                <div class="container">
                    <div class="row">
                        <div class="nopad owl-carousel clients-carousel">
                            <div class="logo">
                                <img src="http://placehold.it/150x75" alt=""/>
                            </div>
                            <div class="logo">
                                <img src="http://placehold.it/150x75" alt=""/>
                            </div>
                            <div class="logo">
                                <img src="http://placehold.it/150x75" alt=""/>
                            </div>
                            <div class="logo">
                                <img src="http://placehold.it/150x75" alt=""/>
                            </div>
                            <div class="logo">
                                <img src="http://placehold.it/150x75" alt=""/>
                            </div>
                            <div class="logo">
                                <img src="http://placehold.it/150x75" alt=""/>
                            </div>
                            <div class="logo">
                                <img src="http://placehold.it/150x75" alt=""/>
                            </div>
                            <div class="logo">
                                <img src="http://placehold.it/150x75" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ========= END ========= -->
            
        </div>
        <!-- ======== OTHER SCRIPTS ======== -->
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="./assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="./assets/js/scripts.js"></script>
        <!-- ======== /OTHER SCRIPTS ======== -->
    </body>
</html>