<!DOCTYPE html>
<html>
    <head>  
        <title>Arti Chart</title>
        <!-- ======== META TAGS ======== -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="description" content="My page desc.">
        <meta name="keywords" content="my, tags">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- ======== / META TAGS ======== -->
        <!-- ======== STYLESHEETS ======== -->
        <link rel="stylesheet" href="./assets/css/reset.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/style.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/et-line-font.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/owl.carousel.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/owl.transitions.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/lightbox.min.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/smoothproducts.css" type="text/css">
        <link rel="stylesheet" href="./assets/css/animate.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="./assets/rs-plugin/css/settings.css" media="screen" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <noscript>
      <link rel="stylesheet" href="./assets/css/nojs.css" type="text/css">
        </noscript>
        <!--[if IE 9]>
                <link rel="stylesheet" type="text/css" href="./assets/css/ie.css">
        <![endif]-->
        <!--[if IE 8]>
                <link rel="stylesheet" type="text/css" href="./assets/rs-plugin/css/settings-ie8.css">
                <link rel="stylesheet" type="text/css" href="./assets/css/ie.css">
        <![endif]-->
        <!-- ======== / STYLESHEETS ======== -->
        <!-- ======== STANDARD SCRIPTS ======== -->
        <script src="./assets/js/jquery.js"></script>
        <!--[if lt IE 9]>
                <script src="./assets/js/html5shiv.js"></script>
                <script src="./assets/js/respond.js"></script>
        <![endif]-->
        <!-- ======== / STANDARD SCRIPTS ======== -->
    </head>
    <body>
        <div id="wrapper-1">
             <!-- ========= HEADER ========= -->
            <header>
                <section class="sticky-wrapper">
                    <div id="main-menu" class="main-menu">
                        <div class="container">
                            <div class="row">
                                <nav class="col-md-12">
                                    <div id="search-container">
                                        <div class="menu-center">
                                            <input name="s" placeholder="BUSCAR..." type="text" autofocus/>
                                            <div class="xbutton main-menu-search">
                                                X
                                            </div>
                                        </div>
                                    </div>
                                    <div id="menu-main">
                                        <div class="navbar-left">
                                            <div class="menu-center">
                                                <ul>
                                                    <li><a class="nopad" href="index.html"><img class="" src="http://hilld.studio-themes.com/assets/img/logo.png" alt=""/></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="navbar-right hidden-lg">
                                            <div class="menu-center">
                                                <ul class="nav-pills nav menu-lowerpad"> 
                                                    <li><a class="general mobile-menu-toggle"><div class="clearfix bars-icon "><hr/><hr/><hr/></div></a></li>
                                                    <li><a class="general main-menu-search"><i class="fa fa-search"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="navbar-right visible-lg">
                                            <div class="menu-center">
                                                <ul class="nav-pills navbar-right nav">
                                                    <li><a class="general" href="artistas.html">ARTISTAS</a></li>
                                                    <li><a class="general" href="obras.html">OBRAS</a></li>
                                                    <li><a class="general" href="auth.html">ACCEDER</a></li>
                                                    <li><a class="general nopad main-menu-search"><i class="fa fa-search"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="mobile-menu">
                            <div class="container">
                                <ul>
                                    <li><a class="" href="artistas.html">ARTISTAS</a></li>
                                    <li><a class="" href="obras.html">OBRAS</a></li>
                                    <li><a class="" href="auth.html">ACCEDER</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </header>
            <!-- ===== HEADER ===== -->

            
      <!-- ========= CALLOUT BOX LIGHT ======== -->
            <section class="section section-margin">

                <div class="container">
                    <div class="row">
                        <div class="col-md-9 subpage subpage-right">
                            <!-- ========= REVSLIDER ========== -->
                            <section id="revslider" class="fullwidthbanner-container">
                                <div class="fullwidthbanner">
                                    <ul>
                                        <!--SLIDE-->
                                        <li data-transition="slidehorizontal" data-bgpositionend="center bottom">
                                            <img src="http://placehold.it/1700x640" alt=""/>
                                        </li>
                                        <!--SLIDE-->
                                        <li data-transition="slidehorizontal" data-bgpositionend="center bottom">
                                            <img src="http://placehold.it/1700x640" alt=""/>
                                        </li>
                                    </ul>
                                    <div class="tp-bannertimer"></div>
                                </div>
                            </section>
                            <!-- ========= END ========= -->
                            <!-- ========= TABS ======== -->
                            <section class="section section-margin-top">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="table-3" class="select-table table-h table-2">
                                                <nav>
                                                    <ul>
                                                        <li class="active"><a href="#table-3-1">TENDENCIAS</a></li>
                                                        <li><a href="#table-3-2">SUSCRIPCIONES</a></li>
                                                    </ul>
                                                </nav>
                                                <ul>
                                                    <li id="table-3-1" class="active">
                                                        <p>Maecenas id nibh ac magna sodales elementum eu at mauris.
                                                            Fusce in mauris mattis, vestibulum nulla nec, placerat sem.
                                                            Sed at massa sem. Ut gravida porta dolor sed pulvinar.
                                                            Etiam nec rhoncus est, non elementum dui. Vestibulum ante
                                                            ipsum primis in faucibus orci luctus et elementum ultrices
                                                            posuere cubilia.</p>
                                                    </li>
                                                    <li id="table-3-2">
                                                        <p>222222Maecenas id nibh ac magna sodales elementum eu at mauris.
                                                            Fusce in mauris mattis, vestibulum nulla nec, placerat sem.
                                                            Sed at massa sem. Ut gravida porta dolor sed pulvinar.
                                                            Etiam nec rhoncus est, non elementum dui. Vestibulum ante
                                                            ipsum primis in faucibus orci luctus et elementum ultrices
                                                            posuere cubilia.</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- ======= END TABS ======= -->
                        </div>
                        <aside class="col-md-3 sidebar">
                            <section id="recent-news" class="widget">
                                <div class="infobox-2 center">
                                    <div class="isotope-info">
                                        <img class="img-responsive" src="http://placehold.it/360x360">
                                        <div class="hover-info">
                                            <div class="infobox-5">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="infobox-text-6">
                                        <h4><a href="#">Jennifer Willis</a></h4>
                                        <p>Developer</p>
                                    </div>
                                </div>
                                <div class="opciones">
                                    <div class="editar">
                                        <button>Editar Perfil</button>
                                        <button>Subir Trabajo</button>
                                    </div>
                                </div>
                                <div class="descripcion">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident animi adipisci libero maxime, inventore excepturi necessitatibus nemo voluptatum illo repellendus aperiam dolor, impedit blanditiis consequuntur quia repudiandae mollitia. Optio, mollitia.</p>
                                </div>
                                <section class="section section-margin-top">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="table-3" class="select-table table-h table-2">
                                                    <nav>
                                                        <ul>
                                                            <li class="active"><a href="#table-4-1">Contacto</a></li>
                                                            <li><a href="#table-4-2">Comentarios</a></li>
                                                        </ul>
                                                    </nav>
                                                    <ul>
                                                        <li id="table-4-1" class="active">
                                                            <p>Maecenas id nibh ac magna sodales elementum eu at mauris.
                                                                Fusce in mauris mattis, vestibulum nulla nec, placerat sem.
                                                                Sed at massa sem. Ut gravida porta dolor sed pulvinar.
                                                                Etiam nec rhoncus est, non elementum dui. Vestibulum ante
                                                                ipsum primis in faucibus orci luctus et elementum ultrices
                                                                posuere cubilia.</p>
                                                        </li>
                                                        <li id="table-4-2">
                                                            <p>222222Maecenas id nibh ac magna sodales elementum eu at mauris.
                                                                Fusce in mauris mattis, vestibulum nulla nec, placerat sem.
                                                                Sed at massa sem. Ut gravida porta dolor sed pulvinar.
                                                                Etiam nec rhoncus est, non elementum dui. Vestibulum ante
                                                                ipsum primis in faucibus orci luctus et elementum ultrices
                                                                posuere cubilia.</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <div class="datos">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorum nisi sapiente labore numquam facere incidunt reiciendis voluptatum, adipisci laboriosam neque, officia aliquid illum amet eaque similique ipsam expedita cum.</p>
                                </div>
                                
                            </section>
                            
                        </aside>
                    </div>
                </div>
            </section>
            <!-- ========= END ========= -->
            
            <a class="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
            <!-- ========= END ========= -->
        </div>
        
        <!-- ========= SIDE MENU ======= -->
        <section id="toggle-1" class="sidemenu">
            <div class="verticalblock">
                <div class="toggle-1-button xbutton">X</div>
                <h5>2 Items in The Cart</h5>
                <hr/>
                <ul class="cart-items">
                    <li>
                        <a href="#" class="close-button">
                            X
                        </a>
                        <a href="#">
                            brown jeans
                            <output>1 x $ 239,99</output>
                        </a>
                        <img src="http://placehold.it/50x63" alt=""/>
                    </li>
                    <li>
                        <a href="#" class="close-button">
                            X
                        </a>
                        <a href="#">
                            short top
                            <output>1 x $ 109,99</output>
                        </a>
                        <img src="http://placehold.it/50x63" alt=""/>
                    </li>
                </ul>
                <output>SUBTOTAL: $349,98</output>
                <hr/>
                <div class="side-menu-button "><a href="../shop/carthtml">VIEW CART</a></div>
                <div class="side-menu-button "><a href="#">CHECKOUT</a></div>
                <div class="links">
                    <h5>Other Links</h5>
                    <ul>
                        <li><a href="#">Aenean id quam lectus</a></li>
                        <li><a href="#">Morbi nisl mauris, consectetur at</a></li>
                        <li><a href="#">Fusce enim elit, faucibus facili</a></li>
                        <li><a href="#">In hac habitasse platea</a></li>
                        <li><a href="#">Praesent pulvinar, mi tristique </a></li>
                        <li><a href="#">Sodales blandit tellus </a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- ========= END ========= -->
            
            
            
        </div>
        <!-- ======== OTHER SCRIPTS ======== -->
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="./assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="./assets/js/scripts.js"></script>
        <!-- ======== /OTHER SCRIPTS ======== -->
    </body>
</html>