extends ../layout

block content
  a(href="/") INICIO
  a(href="/artista/all") Artistas
  a(href="/obra/all") Obras
  a(href="/auth") Login/Registro
  form(action="/search/obra", method="GET")
    input(type="text" name="query" placeholder="Buscar Obra")
    input(type="submit" value="BUSCAR")
  form(action="/search/artist", method="GET")
    input(type="text" name="query" placeholder="Buscar artista")
    input(type="submit" value="BUSCAR")