extends ../layout

block content
  a(href="/") INICIO
  a(href="/artista/all") Artistas
  a(href="/obra/all") Obras
  a(href="/auth") Login/Registro
  br
  h3 Acá van todos los artistas
  a(href="/artista/evert") Enlace al artista "evert"