extends ../layout

block content
  a(href="/") INICIO
  a(href="/artista/all") Artistas
  a(href="/obra/all") Obras
  a(href="/auth") Login/Registro
  br
  h3 Artista: #{artist}
  a(href="/obra/666") Enlace a la obra 666