<!DOCTYPE html>
<html>
    <head>	
        <title>Hilld - shared on themelock.com</title>
        <!-- ======== META TAGS ======== -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="description" content="My page desc.">
        <meta name="keywords" content="my, tags">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- ======== / META TAGS ======== -->
        <!-- ======== STYLESHEETS ======== -->
        <link rel="stylesheet" href="../assets/css/reset.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/et-line-font.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/owl.carousel.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/owl.transitions.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/lightbox.min.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/smoothproducts.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/animate.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="../assets/rs-plugin/css/settings.css" media="screen" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <noscript>
			<link rel="stylesheet" href="../assets/css/nojs.css" type="text/css">
        </noscript>
        <!--[if lt IE 9]>
                <link rel="stylesheet" type="text/css" href="../assets/css/ie.css">
        <![endif]-->
        <!--[if lt IE 8]>
                <link rel="stylesheet" type="text/css" href="../assets/rs-plugin/css/settings-ie8.css">
                <link rel="stylesheet" type="text/css" href="../assets/css/ie.css">
        <![endif]-->
        <!-- ======== / STYLESHEETS ======== -->
        <!-- ======== STANDARD SCRIPTS ======== -->
        <script src="../assets/js/jquery.js"></script>
        <!--[if lt IE 9]>
                <script src="../assets/js/html5shiv.js"></script>
                <script src="../assets/js/respond.js"></script>
        <![endif]-->
        <!-- ======== / STANDARD SCRIPTS ======== -->
    </head>
    <body>
        <!-- ========= SIDE MENU ============ -->
        <nav id="side-menu" class="visible-lg">
            <a class="nopad" href="../index.html"><img class="" src="http://hilld.studio-themes.com/assets/img/logo.png" alt=""/></a>
            <ul>
                <li><a class="general smooth-scroll" href="../index.html">HOME</a></li>
                <li><a class="general smooth-scroll" href="#about_us">ABOUT US</a></li>
                <li><a class="general smooth-scroll" href="#works">WORKS</a></li>
                <li><a class="general smooth-scroll" href="#our_team">OUR TEAM</a></li>
                <li><a class="general" href="../blog/full_width.html">BLOG</a></li>
                <li><a class="general smooth-scroll" href="#contact_us">CONTACT</a></li>
            </ul>
            <ul class="menu-lowestpad">
                <li><a href="#" class="general icon pull-left"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="general icon pull-left"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="general icon pull-left"><i class="fa fa-tumblr"></i></a></li>
                <li><a href="#" class="general icon pull-left"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </nav>
        <!-- ============ END ========== -->
        <div id="wrapper-2">
            <!-- ========= HEADER ========= -->
            <header class="hidden-lg">
                <section class="sticky-wrapper">
                    <div id="main-menu" class="main-menu">
                        <div class="container">
                            <div class="row">
                                <nav class="col-md-12">
                                    <div>
                                        <div class="navbar-left">
                                            <div class="menu-center">
                                                <ul>
                                                    <li><a class="nopad" href="../index.html"><img class="" src="http://hilld.studio-themes.com/assets/img/logo.png" alt=""/></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="navbar-right">
                                            <div class="menu-center">
                                                <ul class="nav-pills nav menu-lowerpad">
                                                    <li><a class="general mobile-menu-toggle"><div class="clearfix bars-icon "><hr/><hr/><hr/></div></a></li>
                                                    <li><a href="#" class="general pull-left"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#" class="general pull-left"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#" class="general pull-left"><i class="fa fa-tumblr"></i></a></li>
                                                    <li><a href="#" class="general pull-left"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="mobile-menu">
                            <div class="container">
                                <ul>
                                    <li><a href="../index.html">HOME</a><a class="drop-toggle"><i class="fa fa-angle-down"></i></a></li>
                                    <li><a class="general smooth-scroll" href="../index.html">HOME</a></li>
                                    <li><a class="general smooth-scroll" href="#about_us">ABOUT US</a></li>
                                    <li><a class="general smooth-scroll" href="#works">WORKS</a></li>
                                    <li><a class="general smooth-scroll" href="#our_team">OUR TEAM</a></li>
                                    <li><a class="general" href="../blog/full_width.html">BLOG</a></li>
                                    <li><a class="general smooth-scroll" href="#contact_us">CONTACT</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </header>
            <!-- ========= REVSLIDER ========== -->
            <section id="revslider-2" class="fullscreen-container">
                <div class="fullwidthbanner">
                    <ul>
                        <!--SLIDE-->
                        <li data-transition="slidehorizontal" data-bgpositionend="center bottom">
                            <img src="http://placehold.it/1800x1167" alt=""/>
                        </li>
                        <!--SLIDE-->
                        <li data-transition="slidehorizontal" data-bgpositionend="center bottom">
                            <img src="http://placehold.it/1800x1167" alt=""/>
                        </li>
                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </section>
            <!-- ========= END ========= -->
            <!-- ========= ABOUT US =========== -->
            <section id="about_us" class="section section-margin">
                <div class="container">
                    <div class="row">
                         <div class="col-lg-4 col-sm-4 col-xs-12">
                            <div class="infobox">
                                <h5>we are</h5>
                                <h4><a href="#">responsive and retina ready</a></h4>
                                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                                    consequat. </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-12">
                            <div class="infobox">
                                <h5>we are</h5>
                                <h4><a href="#">responsive and retina ready</a></h4>
                                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                                    consequat. </p>
                            </div>
                        </div>
                         <div class="col-lg-4 col-sm-4 col-xs-12">
                            <div class="infobox">
                                <h5>we are</h5>
                                <h4><a href="#">responsive and retina ready</a></h4>
                                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                                    consequat. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ========= END ========= -->
            <!-- ========= SLIDER ========= -->
            <section id="works" class="section">
                <div class="container-fluid">
                    <div class="nopad owl-carousel portfolio-carousel">
                        <a class="clearhover" href="#"><div class="isotope-info">
                            <img class="img-responsive" src="http://placehold.it/565x565">
                            <div class="hover-info">
                                <div class="infobox-3">
                                    <hr/>
                                    <h4>01</h4>
                                    work , time
                                </div>
                            </div>
                        </div></a>
                        <a class="clearhover" href="#"><div class="isotope-info">
                                <img class="img-responsive" src="http://placehold.it/565x565">
                            <div class="hover-info">
                                <div class="infobox-3">
                                    <hr/>
                                    <h4>02</h4>
                                    food , lifestyle
                                </div>
                            </div>
                        </div></a>
                        <a class="clearhover" href="#"><div class="isotope-info">
                                <img class="img-responsive" src="http://placehold.it/565x565">
                            <div class="hover-info">
                                <div class="infobox-3">
                                    <hr/>
                                    <h4>03</h4>
                                    lifestyle , work
                                </div>
                            </div>
                        </div></a>
                        <a class="clearhover" href="#"><div class="isotope-info">
                                <img class="img-responsive" src="http://placehold.it/565x565">
                            <div class="hover-info">
                                <div class="infobox-3">
                                    <hr/>
                                    <h4>04</h4>
                                    services , food
                                </div>
                            </div>
                        </div></a>
                        <a class="clearhover" href="#"><div class="isotope-info">
                                <img class="img-responsive" src="http://placehold.it/565x565">
                            <div class="hover-info">
                                <div class="infobox-3">
                                    <hr/>
                                    <h4>05</h4>
                                    work , lifestyle
                                </div>
                            </div>
                        </div></a>
                    </div>
                </div>
            </section>
            <!-- ========= END ========= -->
            <!-- ========= OUR SKILLS =========== -->
            <section class="section section-margin">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <div class="infobox">
                                <div class="infobox-text-3">
                                    <h3>Well prepared</h3>
                                    <p>Vivamus viverra nisi nec gravida pulvinar.
                                        Vestibulum id lectus elit. Cras sed lorem dolor.
                                        Duis ac augue a ante congue pulvinar. Aliquam
                                        suscipit nunc ut diam rhoncus, quis molestie
                                        metus auctor. Cras a neque turpis. Nullam sagittis
                                        porttitor iaculis. Sed fermentum mi nec volutpat
                                        aliquam. Integer vitae dolor quis ex molestie temp.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <div class="progress-bar" data-progress="80">
                                <p>Photography</p>
                                <output><span data-from="0" data-to="80"></span>%</output>
                                <div class="bar"><div class="bar-fill shade-1"></div></div>
                            </div>
                            <div class="progress-bar" data-progress="65">
                                <p>Copywriting</p>
                                <output><span data-from="0" data-to="65"></span>%</output>
                                <div class="bar"><div class="bar-fill shade-2"></div></div>
                            </div>
                            <div class="progress-bar" data-progress="100">
                                <p>Support</p>
                                <output><span data-from="0" data-to="100"></span>%</output>
                                <div class="bar"><div class="bar-fill shade-3"></div></div>
                            </div>
                            <div class="progress-bar" data-progress="90">
                                <p>Webdesign</p>
                                <output><span data-from="0" data-to="90"></span>%</output>
                                <div class="bar"><div class="bar-fill shade-4"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- =========== END ============= -->
            <!-- ========= TEAM ======== -->
            <section id="our_team" class="section2 section-margin">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Anna Grande</a></h4>
                                    <p>Support</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Justin Braun</a></h4>
                                    <p>Web Engineer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Patric Smith</a></h4>
                                    <p>Art Director</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <div class="infobox-2 center">
                                <div class="isotope-info">
                                    <img class="img-responsive" src="http://placehold.it/360x360">
                                    <div class="hover-info">
                                        <div class="infobox-5">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="infobox-text-6">
                                    <h4><a href="#">Jennifer Willis</a></h4>
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ========= END ========= -->
            <!-- ========= TITLE ======== -->
            <section class="section-bar-6">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="infobox-4 full-width center">
                                <h5>contact info</h5>
                                <h3>We are here to help you</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ========= END======== -->
            <!-- =========== MAP ============= -->
            <section class="section">
                <script src="https://maps.googleapis.com/maps/api/js?v=3.19"></script>
                <div id="google-map">
                     <!-- map will be placed here -->
                </div>
                
            </section>
            <!-- ========= END ========= -->
            
            <!-- ========= CONTACT FORM ========= -->
            <section id="contact_us" class="section section-margin">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="contact" class="form" method="post">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><input type="text" name="name" placeholder="YOUR NAME"/></div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><input type="email" name="email" placeholder="YOUR EMAIL"/></div>
                                <div class="col-md-12"><input type="hidden" name="subject" value="hilld"/></div>
                                <div class="col-md-12"><textarea name="message" placeholder="MESSAGE" rows="10"></textarea></div>
                                <div class="col-md-12"><input  type="submit" value="SUBMIT"/></div>
                            </form>
                            <div id="success-message" class="center col-md-12"><output>Message has been sent</output></div>
                            <div id="error-message" class="center col-md-12"><output>Error</output></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ========= END ========= -->
            <!-- =============== FOOTER ============ -->
            <footer id="footer">
                    <section class="footer footer-margin">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-sm-3 col-xs-12">
                                    <div class="widget widget-about-us la-hover">
                                        <h5 class="letter-animation" data-speed="1500">ABOUT US</h5>
                                        <p>121 King Street, Melbourne </p>
                                        <p>Victoria 3000 Australia</p> 
                                        <p>E-Mail:  no-replay@envato.com</p>
                                        <p>Phone: +61 3 8376 6284</p>
                                        <ul class="nav-pills nav">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3 col-xs-12">
                                    <div class="widget la-hover">
                                        <h5 class="letter-animation" data-speed="1500">RECENT POSTS</h5>
                                        <ul>
                                            <li>
                                                <h6><a href="#">Class aptent taciti sociosqu ad</a></h6>
                                                <p>11 April, 2015</p>
                                            </li>
                                            <li>
                                                <h6><a href="#">Fusce turpis ex, porta non tempus</a></h6>
                                                <p>04 April, 2015</p>
                                            </li>
                                            <li>
                                                <h6><a href="#">Class aptent taciti sociosqu</a></h6>
                                                <p>31 March, 2015</p>
                                            </li>
                                            <li>
                                                <h6><a href="#">Cras sodales lacus vitae nunca</a></h6>
                                                <p>28 March, 2015</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3 col-xs-12">
                                    <div class="widget la-hover">
                                        <h5 class="letter-animation" data-speed="1500">OTHER LINKS</h5>
                                        <ul>
                                            <li><h6><a href="#">Aenean id quam lectus</a></h6></li>
                                            <li><h6><a href="#">Morbi nisl mauris, consectetur at</a></h6></li>
                                            <li><h6><a href="#">Fusce enim elit, faucibus facili</a></h6></li>
                                            <li><h6><a href="#">In hac habitasse platea</a></h6></li>
                                            <li><h6><a href="#">Praesent pulvinar, mi tristique </a></h6></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3 col-xs-12">
                                    <div class="widget la-hover">
                                        <h5 class="letter-animation" data-speed="1500">PHOTO STREAM</h5>
                                        <div class="flickr-container" data-count="8" data-userid="71865026@N00" data-apikey="817d59b480172b8e698db8da5335a2d1">
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="center">
                                        <p class="footer">© 2015 Hilld. All Rights Reserved.</p>
                                    </div>
                                    <a href="#" class="footer-toggle"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="footer-toggle">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </section>
                </footer>
            <a class="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
            <!-- ========= END ========= -->
        </div>
        <!-- ======== OTHER SCRIPTS ======== -->
        <script src="../assets/js/plugins.js"></script>
        <script src="../assets/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="../assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="../assets/js/scripts.js"></script>
        <!-- ======== /OTHER SCRIPTS ======== -->
    </body>
</html>