<!DOCTYPE html>
<html>
    <head>	
        <title>Hilld - shared on themelock.com</title>
        <!-- ======== META TAGS ======== -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="description" content="My page desc.">
        <meta name="keywords" content="my, tags">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- ======== / META TAGS ======== -->
        <!-- ======== STYLESHEETS ======== -->
        <link rel="stylesheet" href="../assets/css/reset.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/et-line-font.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/owl.carousel.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/owl.transitions.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/lightbox.min.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/smoothproducts.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/animate.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="../assets/rs-plugin/css/settings.css" media="screen" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <noscript>
			<link rel="stylesheet" href="../assets/css/nojs.css" type="text/css">
        </noscript>
        <!--[if lt IE 9]>
                <link rel="stylesheet" type="text/css" href="../assets/css/ie.css">
        <![endif]-->
        <!--[if lt IE 8]>
                <link rel="stylesheet" type="text/css" href="../assets/rs-plugin/css/settings-ie8.css">
                <link rel="stylesheet" type="text/css" href="../assets/css/ie.css">
        <![endif]-->
        <!-- ======== / STYLESHEETS ======== -->
        <!-- ======== STANDARD SCRIPTS ======== -->
        <script src="../assets/js/jquery.js"></script>
        <!--[if lt IE 9]>
                <script src="assets/js/html5shiv.js"></script>
                <script src="assets/js/respond.js"></script>
        <![endif]-->
        <!-- ======== / STANDARD SCRIPTS ======== -->
    </head>
    <body>
        <!-- ========= SIDE MENU ============ -->
        <nav id="side-menu" class="visible-lg">
            <a class="nopad" href="demo8.html"><img class="" src="http://hilld.studio-themes.com/assets/img/logo.png" alt=""/></a>
            <ul>
                <li><a class="general" href="demo8.html">HOME</a></li>
                <li>
                    <a href="#" class="general">PAGES</a><a class="general drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                    <ul class="drop-menu">
                        <li><a href="../pages/about_us.html">ABOUT US</a></li>
                        <li><a href="../pages/our_services.html">OUR SERVICES</a></li>
                        <li><a href="../pages/our_team.html">OUR TEAM</a></li>
                        <li><a href="../pages/our_process.html">OUR PROCESS</a></li>
                        <li><a href="../pages/price_plan.html">PRICE PLAN</a></li>
                        <li><a href="../pages/404_page.html">404 PAGE</a></li>
                        <li><a href="../pages/full_width.html">FULL WIDTH PAGE</a></li>
                        <li><a href="../pages/right_sidebar.html">RIGHT SIDEBAR</a></li>
                        <li><a href="../pages/left_sidebar.html">LEFT SIDEBAR</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="general">PORTFOLIO</a><a class="general drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                    <ul class="drop-menu">
                        <li>
                            <a href="#" class="general">PORTFOLIO WITH MARGIN</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                            <ul class="drop-menu">
                                <li><a href="../porfolio/portfolio_with_margin/2columns_style1.html">2 COLUMN STYLE 1</a></li>
                                <li><a href="../porfolio/portfolio_with_margin/3columns_style1.html">3 COLUMN STYLE 1</a></li>
                                <li><a href="../porfolio/portfolio_with_margin/4columns_style1.html">4 COLUMN STYLE 1</a></li>
                                <li><a href="../porfolio/portfolio_with_margin/2columns_style2.html">2 COLUMN STYLE 2</a></li>
                                <li><a href="../porfolio/portfolio_with_margin/3columns_style2.html">3 COLUMN STYLE 2</a></li>
                                <li><a href="../porfolio/portfolio_with_margin/4columns_style2.html">4 COLUMN STYLE 2</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="general">PORTFOLIO NO MARGIN</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                            <ul class="drop-menu">
                                <li><a href="../porfolio/portfolio_no_margin/2columns.html">2 COLUMN</a></li>
                                <li><a href="../porfolio/portfolio_no_margin/3columns.html">3 COLUMN</a></li>
                                <li><a href="../porfolio/portfolio_no_margin/4columns.html">4 COLUMN</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="general">FULL WIDTH WITH MARGIN</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                            <ul class="drop-menu">
                                <li><a href="../porfolio/full_width_with_margin/2columns_style1.html">2 COLUMN STYLE 1</a></li>
                                <li><a href="../porfolio/full_width_with_margin/3columns_style1.html">3 COLUMN STYLE 1</a></li>
                                <li><a href="../porfolio/full_width_with_margin/4columns_style1.html">4 COLUMN STYLE 1</a></li>
                                <li><a href="../porfolio/full_width_with_margin/2columns_style2.html">2 COLUMN STYLE 2</a></li>
                                <li><a href="../porfolio/full_width_with_margin/3columns_style2.html">3 COLUMN STYLE 2</a></li>
                                <li><a href="../porfolio/full_width_with_margin/4columns_style2.html">4 COLUMN STYLE 2</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="general">FULL WIDTH NO MARGIN</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                            <ul class="drop-menu">
                                <li><a href="../porfolio/full_width_no_margin/2columns.html">2 COLUMN</a></li>
                                <li><a href="../porfolio/full_width_no_margin/3columns.html">3 COLUMN</a></li>
                                <li><a href="../porfolio/full_width_no_margin/4columns.html">4 COLUMN</a></li>
                            </ul>
                        </li>
                        <li><a href="../porfolio/masonry.html">PORFOLIO MASONRY</a></li>
                        <li>
                            <a href="#" class="general">PORTFOLIO WITH SIDEBAR</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                            <ul class="drop-menu">
                                <li><a href="../porfolio/portfolio_with_sidebar/2columns.html">2 COLUMN</a></li>
                                <li><a href="../porfolio/portfolio_with_sidebar/3columns.html">3 COLUMN</a></li>
                                <li><a href="../porfolio/portfolio_with_sidebar/4columns.html">4 COLUMN</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="../porfolio/single.html">PORTFOLIO SINGLE</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="general">BLOG</a><a class="drop-toggle general" href="#"><i class="fa fa-angle-down"></i></a>
                    <ul class="drop-menu">
                        <li><a href="../blog/right_sidebar.html">RIGHT SIDEBAR</a></li>
                        <li><a href="../blog/left_sidebar.html">LEFT SIDEBAR</a></li>
                        <li><a href="../blog/full_width.html">FULL WIDTH</a></li>
                        <li>
                            <a href="#" class="general">BLOG GRID</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                            <ul class="drop-menu">
                                <li><a href="../blog/blog_grid/2columns.html">2 COLUMN</a></li>
                                <li><a href="../blog/blog_grid/3columns.html">3 COLUMN</a></li>
                                <li><a href="../blog/blog_grid/4columns.html">4 COLUMN</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="general">BLOG MASONRY</a><a class="drop-toggle" href="../pages/our_team.html"><i class="fa fa-angle-down"></i></a>
                            <ul class="drop-menu">
                                <li><a href="../blog/blog_masonry/2columns.html">2 COLUMN</a></li>
                                <li><a href="../blog/blog_masonry/3columns.html">3 COLUMN</a></li>
                                <li><a href="../blog/blog_masonry/4columns.html">4 COLUMN</a></li>
                            </ul>
                        </li>
                        <li><a href="../blog/blog_grid_sidebar.html">BLOG GRID SIDEBAR</a></li>
                        <li><a href="../blog/blog_masonry_sidebar.html">BLOG MASONRY SIDEBAR</a></li>
                        <li>
                            <a href="#" class="general">BLOG SINGLE</a><a class="drop-toggle" href="../pages/contact_us.html"><i class="fa fa-angle-down"></i></a>
                            <ul class="drop-menu">
                                <li><a href="../blog/blog_single/standard.html">STANDARD</a></li>
                                <li><a href="../blog/blog_single/gallery.html">GALLERY</a></li>
                                <li><a href="../blog/blog_single/audio.html">AUDIO</a></li>
                                <li><a href="../blog/blog_single/video.html">VIDEO</a></li>
                                <li><a href="../blog/blog_single/blockquote.html">BLOCKQUOTE</a></li>
                                <li><a href="../blog/blog_single/link.html">LINK</a></li>
                                <li><a href="../blog/blog_single/without_sidebar.html">WITHOUT SIDEBAR</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li >
                    <a href="#" class="general">ELEMENTS</a><a class="drop-toggle general" href="#"><i class="fa fa-angle-down"></i></a>
                    <ul class="drop-menu">
                        <li>
                            <ul>
                                <li>
                                    <a href="#" class="general">SHORTCODES 1</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                                    <ul class="drop-menu">
                                        <li><a href="../elements/shortcodes_1/counters.html">COUNTERS</a></li>
                                        <li><a href="../elements/shortcodes_1/pricing_tables.html">PRICING TABLES</a></li>
                                        <li><a href="../elements/shortcodes_1/message_boxes.html">MESSAGE BOXES</a></li>
                                        <li><a href="../elements/shortcodes_1/accordion_toggle.html">ACCORDION & TOGGLE</a></li>
                                        <li><a href="../elements/shortcodes_1/content_boxes.html">CONTENT BOXES</a></li>
                                        <li><a href="../elements/shortcodes_1/team_member.html">TEAM MEMBER</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="general">SHORTCODES 2</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                                    <ul class="drop-menu">
                                        <li><a href="../elements/shortcodes_2/tabs.html">TABS</a></li>
                                        <li><a href="../elements/shortcodes_2/testimonials.html">TESTIMONIALS</a></li>
                                        <li><a href="../elements/shortcodes_2/buttons.html">BUTTONS</a></li>
                                        <li><a href="../elements/shortcodes_2/progress_bar.html">PROGRESS BAR</a></li>
                                        <li><a href="../elements/shortcodes_2/social_icons.html">SOCIAL ICONS</a></li>
                                        <li><a href="../elements/shortcodes_2/pie_chart.html">PIE CHART</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="general">SHORTCODES 3</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                                    <ul class="drop-menu">
                                        <li><a href="../elements/shortcodes_3/quotes.html">QUOTES</a></li>
                                        <li><a href="../elements/shortcodes_3/parallax_section.html">PARALLAX SECTIONS</a></li>
                                        <li><a href="../elements/shortcodes_3/clients.html">CLIENTS</a></li>
                                        <li><a href="../elements/shortcodes_3/latest_posts.html">LATEST POSTS</a></li>
                                        <li><a href="../elements/shortcodes_3/portfolio_slider.html">PORTFOLIO SLIDER</a></li>
                                        <li><a href="../elements/shortcodes_3/services_tables.html">SERVICES TABLES</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="general">SHORTCODES 4</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                                    <ul class="drop-menu">
                                        <li><a href="../elements/shortcodes_4/cover_boxes.html">COVER BOXES</a></li>
                                        <li><a href="../elements/shortcodes_4/callout_boxes.html">CALLOUT BOXES</a></li>
                                        <li><a href="../elements/shortcodes_4/gallery.html">GALLERY</a></li>
                                        <li><a href="../elements/shortcodes_4/lists.html">LISTS</a></li>
                                        <li><a href="../elements/shortcodes_4/separators.html">SEPARATORS</a></li>
                                        <li><a href="../elements/shortcodes_4/typography.html">TYPOGRAPHY</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="general">SHOP</a><a class="drop-toggle general" href="#"><i class="fa fa-angle-down"></i></a>
                    <ul class="drop-menu">
                        <li><a href="../shop/shop_with_sidebar.html">SHOP WITH SIDEBAR</a></li>
                        <li><a href="../shop/shop_full_width.html">SHOP FULL WIDTH</a></li>
                        <li><a href="../shop/shop_single.html">SHOP SINGLE</a></li>
                        <li><a href="../shop/cart.html">CART</a></li>
                    </ul>
                </li>
                <li><a class="general" href="../contact_us.html">CONTACT US</a></li>
            </ul>
            <ul class="menu-lowestpad">
                <li><a href="#" class="general icon pull-left"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="general icon pull-left"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="general icon pull-left"><i class="fa fa-tumblr"></i></a></li>
                <li><a href="#" class="general icon pull-left"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </nav>
        <!-- ============ END ========== -->
        <div id="wrapper-2">
            <!-- ========= HEADER ========= -->
            <header class="hidden-lg">
                <section class="sticky-wrapper">
                    <div id="main-menu" class="main-menu">
                        <div class="container">
                            <div class="row">
                                <nav class="col-md-12">
                                    <div>
                                        <div class="navbar-left">
                                            <div class="menu-center">
                                                <ul>
                                                    <li><a class="nopad" href="demo8.html"><img class="" src="http://hilld.studio-themes.com/assets/img/logo.png" alt=""/></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="navbar-right">
                                            <div class="menu-center">
                                                <ul class="nav-pills nav menu-lowerpad">
                                                    <li><a class="general mobile-menu-toggle"><div class="clearfix bars-icon "><hr/><hr/><hr/></div></a></li>
                                                    <li><a href="#" class="general pull-left"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#" class="general pull-left"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#" class="general pull-left"><i class="fa fa-tumblr"></i></a></li>
                                                    <li><a href="#" class="general pull-left"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="mobile-menu">
                            <div class="container">
                                <ul>
                                    <li>
                                        <a href="demo8.html">HOME</a>
                                    <li>
                                        <a href="#" class="">PAGES</a><a class=" drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                                        <ul class="drop-menu">
                                            <li><a href="../pages/about_us.html">ABOUT US</a></li>
                                            <li><a href="../pages/our_services.html">OUR SERVICES</a></li>
                                            <li><a href="../pages/our_team.html">OUR TEAM</a></li>
                                            <li><a href="../pages/our_process.html">OUR PROCESS</a></li>
                                            <li><a href="../pages/price_plan.html">PRICE PLAN</a></li>
                                            <li><a href="../pages/404_page.html">404 PAGE</a></li>
                                            <li><a href="../pages/full_width.html">FULL WIDTH PAGE</a></li>
                                            <li><a href="../pages/right_sidebar.html">RIGHT SIDEBAR</a></li>
                                            <li><a href="../pages/left_sidebar.html">LEFT SIDEBAR</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="">PORTFOLIO</a><a class=" drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                                        <ul class="drop-menu">
                                            <li>
                                                <a href="#" class="">PORTFOLIO WITH MARGIN</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                                                <ul class="drop-menu">
                                                    <li><a href="../porfolio/portfolio_with_margin/2columns_style1.html">2 COLUMN STYLE 1</a></li>
                                                    <li><a href="../porfolio/portfolio_with_margin/3columns_style1.html">3 COLUMN STYLE 1</a></li>
                                                    <li><a href="../porfolio/portfolio_with_margin/4columns_style1.html">4 COLUMN STYLE 1</a></li>
                                                    <li><a href="../porfolio/portfolio_with_margin/2columns_style2.html">2 COLUMN STYLE 2</a></li>
                                                    <li><a href="../porfolio/portfolio_with_margin/3columns_style2.html">3 COLUMN STYLE 2</a></li>
                                                    <li><a href="../porfolio/portfolio_with_margin/4columns_style2.html">4 COLUMN STYLE 2</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#" class="">PORTFOLIO NO MARGIN</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                                                <ul class="drop-menu">
                                                    <li><a href="../porfolio/portfolio_no_margin/2columns.html">2 COLUMN</a></li>
                                                    <li><a href="../porfolio/portfolio_no_margin/3columns.html">3 COLUMN</a></li>
                                                    <li><a href="../porfolio/portfolio_no_margin/4columns.html">4 COLUMN</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#" class="">FULL WIDTH WITH MARGIN</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                                                <ul class="drop-menu">
                                                    <li><a href="../porfolio/full_width_with_margin/2columns_style1.html">2 COLUMN STYLE 1</a></li>
                                                    <li><a href="../porfolio/full_width_with_margin/3columns_style1.html">3 COLUMN STYLE 1</a></li>
                                                    <li><a href="../porfolio/full_width_with_margin/4columns_style1.html">4 COLUMN STYLE 1</a></li>
                                                    <li><a href="../porfolio/full_width_with_margin/2columns_style2.html">2 COLUMN STYLE 2</a></li>
                                                    <li><a href="../porfolio/full_width_with_margin/3columns_style2.html">3 COLUMN STYLE 2</a></li>
                                                    <li><a href="../porfolio/full_width_with_margin/4columns_style2.html">4 COLUMN STYLE 2</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#" class="">FULL WIDTH NO MARGIN</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                                                <ul class="drop-menu">
                                                    <li><a href="../porfolio/full_width_no_margin/2columns.html">2 COLUMN</a></li>
                                                    <li><a href="../porfolio/full_width_no_margin/3columns.html">3 COLUMN</a></li>
                                                    <li><a href="../porfolio/full_width_no_margin/4columns.html">4 COLUMN</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="../porfolio/masonry.html">PORFOLIO MASONRY</a></li>
                                            <li>
                                                <a href="#" class="">PORTFOLIO WITH SIDEBAR</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                                                <ul class="drop-menu">
                                                    <li><a href="../porfolio/portfolio_with_sidebar/2columns.html">2 COLUMN</a></li>
                                                    <li><a href="../porfolio/portfolio_with_sidebar/3columns.html">3 COLUMN</a></li>
                                                    <li><a href="../porfolio/portfolio_with_sidebar/4columns.html">4 COLUMN</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="../porfolio/single.html">PORTFOLIO SINGLE</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="">BLOG</a><a class="drop-toggle " href="#"><i class="fa fa-angle-down"></i></a>
                                        <ul class="drop-menu">
                                            <li><a href="../blog/right_sidebar.html">RIGHT SIDEBAR</a></li>
                                            <li><a href="../blog/left_sidebar.html">LEFT SIDEBAR</a></li>
                                            <li><a href="../blog/full_width.html">FULL WIDTH</a></li>
                                            <li>
                                                <a href="#" class="">BLOG GRID</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                                                <ul class="drop-menu">
                                                    <li><a href="../blog/blog_grid/2columns.html">2 COLUMN</a></li>
                                                    <li><a href="../blog/blog_grid/3columns.html">3 COLUMN</a></li>
                                                    <li><a href="../blog/blog_grid/4columns.html">4 COLUMN</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#" class="">BLOG MASONRY</a><a class="drop-toggle" href="../pages/our_team.html"><i class="fa fa-angle-down"></i></a>
                                                <ul class="drop-menu">
                                                    <li><a href="../blog/blog_masonry/2columns.html">2 COLUMN</a></li>
                                                    <li><a href="../blog/blog_masonry/3columns.html">3 COLUMN</a></li>
                                                    <li><a href="../blog/blog_masonry/4columns.html">4 COLUMN</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="../blog/blog_grid_sidebar.html">BLOG GRID SIDEBAR</a></li>
                                            <li><a href="../blog/blog_masonry_sidebar.html">BLOG MASONRY SIDEBAR</a></li>
                                            <li>
                                                <a href="#" class="">BLOG SINGLE</a><a class="drop-toggle" href="../pages/contact_us.html"><i class="fa fa-angle-down"></i></a>
                                                <ul class="drop-menu">
                                                    <li><a href="../blog/blog_single/standard.html">STANDARD</a></li>
                                                    <li><a href="../blog/blog_single/gallery.html">GALLERY</a></li>
                                                    <li><a href="../blog/blog_single/audio.html">AUDIO</a></li>
                                                    <li><a href="../blog/blog_single/video.html">VIDEO</a></li>
                                                    <li><a href="../blog/blog_single/blockquote.html">BLOCKQUOTE</a></li>
                                                    <li><a href="../blog/blog_single/link.html">LINK</a></li>
                                                    <li><a href="../blog/blog_single/without_sidebar.html">WITHOUT SIDEBAR</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li >
                                        <a href="#" class="">ELEMENTS</a><a class="drop-toggle " href="#"><i class="fa fa-angle-down"></i></a>
                                        <ul class="drop-menu">
                                            <li>
                                                <ul>
                                                    <li>
                                                        <a href="#" class="">SHORTCODES 1</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                                                        <ul class="drop-menu">
                                                            <li><a href="../elements/shortcodes_1/counters.html">COUNTERS</a></li>
                                                            <li><a href="../elements/shortcodes_1/pricing_tables.html">PRICING TABLES</a></li>
                                                            <li><a href="../elements/shortcodes_1/message_boxes.html">MESSAGE BOXES</a></li>
                                                            <li><a href="../elements/shortcodes_1/accordion_toggle.html">ACCORDION & TOGGLE</a></li>
                                                            <li><a href="../elements/shortcodes_1/content_boxes.html">CONTENT BOXES</a></li>
                                                            <li><a href="../elements/shortcodes_1/team_member.html">TEAM MEMBER</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="">SHORTCODES 2</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                                                        <ul class="drop-menu">
                                                            <li><a href="../elements/shortcodes_2/tabs.html">TABS</a></li>
                                                            <li><a href="../elements/shortcodes_2/testimonials.html">TESTIMONIALS</a></li>
                                                            <li><a href="../elements/shortcodes_2/buttons.html">BUTTONS</a></li>
                                                            <li><a href="../elements/shortcodes_2/progress_bar.html">PROGRESS BAR</a></li>
                                                            <li><a href="../elements/shortcodes_2/social_icons.html">SOCIAL ICONS</a></li>
                                                            <li><a href="../elements/shortcodes_2/pie_chart.html">PIE CHART</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="">SHORTCODES 3</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                                                        <ul class="drop-menu">
                                                            <li><a href="../elements/shortcodes_3/quotes.html">QUOTES</a></li>
                                                            <li><a href="../elements/shortcodes_3/parallax_section.html">PARALLAX SECTIONS</a></li>
                                                            <li><a href="../elements/shortcodes_3/clients.html">CLIENTS</a></li>
                                                            <li><a href="../elements/shortcodes_3/latest_posts.html">LATEST POSTS</a></li>
                                                            <li><a href="../elements/shortcodes_3/portfolio_slider.html">PORTFOLIO SLIDER</a></li>
                                                            <li><a href="../elements/shortcodes_3/services_tables.html">SERVICES TABLES</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="">SHORTCODES 4</a><a class="drop-toggle" href="#"><i class="fa fa-angle-down"></i></a>
                                                        <ul class="drop-menu">
                                                            <li><a href="../elements/shortcodes_4/cover_boxes.html">COVER BOXES</a></li>
                                                            <li><a href="../elements/shortcodes_4/callout_boxes.html">CALLOUT BOXES</a></li>
                                                            <li><a href="../elements/shortcodes_4/gallery.html">GALLERY</a></li>
                                                            <li><a href="../elements/shortcodes_4/lists.html">LISTS</a></li>
                                                            <li><a href="../elements/shortcodes_4/separators.html">SEPARATORS</a></li>
                                                            <li><a href="../elements/shortcodes_4/typography.html">TYPOGRAPHY</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="">SHOP</a><a class="drop-toggle " href="#"><i class="fa fa-angle-down"></i></a>
                                        <ul class="drop-menu">
                                            <li><a href="../shop/shop_with_sidebar.html">SHOP WITH SIDEBAR</a></li>
                                            <li><a href="../shop/shop_full_width.html">SHOP FULL WIDTH</a></li>
                                            <li><a href="../shop/shop_single.html">SHOP SINGLE</a></li>
                                            <li><a href="../shop/cart.html">CART</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="" href="../contact_us.html">CONTACT US</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </header>
            <!-- =============== IMAGES =========== -->
            <section>
                <div class="container-fluid">
                    <a class="clearhover col-lg-4 col-sm-4 col-xs-12 nopad" href="../porfolio/single.html"><div class="isotope-info">
                            <img class="img-responsive" src="http://placehold.it/650x650">
                            <div class="hover-info">
                                <div class="infobox-3">
                                    <hr/>
                                    <h4>project 01</h4>
                                    art
                                </div>
                            </div>
                        </div></a>
                        <a class="clearhover col-lg-4 col-sm-4 col-xs-12 nopad" href="../porfolio/single.html"><div class="isotope-info">
                            <img class="img-responsive" src="http://placehold.it/650x650">
                            <div class="hover-info">
                                <div class="infobox-3">
                                    <hr/>
                                    <h4>project 02</h4>
                                    brand
                                </div>
                            </div>
                        </div></a>
                        <a class="clearhover col-lg-4 col-sm-4 col-xs-12 nopad" href="../porfolio/single.html"><div class="isotope-info">
                            <img class="img-responsive" src="http://placehold.it/650x650">
                            <div class="hover-info">
                                <div class="infobox-3">
                                    <hr/>
                                    <h4>project 03</h4>
                                    business
                                </div>
                            </div>
                        </div></a>
                        <a class="clearhover col-lg-4 col-sm-4 col-xs-12 nopad" href="../porfolio/single.html"><div class="isotope-info">
                            <img class="img-responsive" src="http://placehold.it/650x650">
                            <div class="hover-info">
                                <div class="infobox-3">
                                    <hr/>
                                    <h4>project 04</h4>
                                    identity
                                </div>
                            </div>
                        </div></a>
                        <a class="clearhover col-lg-4 col-sm-4 col-xs-12 nopad" href="../porfolio/single.html"><div class="isotope-info">
                            <img class="img-responsive" src="http://placehold.it/650x650">
                            <div class="hover-info">
                                <div class="infobox-3">
                                    <hr/>
                                    <h4>project 04</h4>
                                    identity
                                </div>
                            </div>
                        </div></a>
                        <a class="clearhover col-lg-4 col-sm-4 col-xs-12 nopad" href="../porfolio/single.html"><div class="isotope-info">
                            <img class="img-responsive" src="http://placehold.it/650x650">
                            <div class="hover-info">
                                <div class="infobox-3">
                                    <hr/>
                                    <h4>project 06</h4>
                                    brand, identity
                                </div>
                            </div>
                        </div></a>
                        <a class="clearhover col-lg-4 col-sm-4 col-xs-12 nopad" href="../porfolio/single.html"><div class="isotope-info">
                            <img class="img-responsive" src="http://placehold.it/650x650">
                            <div class="hover-info">
                                <div class="infobox-3">
                                    <hr/>
                                    <h4>project 07</h4>
                                    art, identity
                                </div>
                            </div>
                        </div></a>
                        <a class="clearhover col-lg-4 col-sm-4 col-xs-12 nopad" href="../porfolio/single.html"><div class="isotope-info">
                            <img class="img-responsive" src="http://placehold.it/650x650">
                            <div class="hover-info">
                                <div class="infobox-3">
                                    <hr/>
                                    <h4>project 08</h4>
                                    brand, business
                                </div>
                            </div>
                        </div></a>
                        <a class="clearhover col-lg-4 col-sm-4 col-xs-12 nopad" href="../porfolio/single.html"><div class="isotope-info">
                            <img class="img-responsive" src="http://placehold.it/650x650">
                            <div class="hover-info">
                                <div class="infobox-3">
                                    <hr/>
                                    <h4>project 09</h4>
                                    art, brand, identity
                                </div>
                            </div>
                        </div></a>
                </div>
            </section>
        </div>
        <!-- ======== OTHER SCRIPTS ======== -->
        <script src="../assets/js/plugins.js"></script>
        <script src="../assets/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="../assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="../assets/js/scripts.js"></script>
        <!-- ======== /OTHER SCRIPTS ======== -->
    </body>
</html>